.title{
    color: #ffffff;
    font-size: large;
    margin: 15px;
    font-weight: 500;
}
.daily-item{
    background-color: #9b9b9b;
    border-radius: 15px;
    margin:5px;
    height:40px;
    display: flex;
    cursor:pointer;
    align-items: center;
    font-size: 14px;
    padding: 5px 20px;
}
.icon-small{
    width:40px;
}
.day{
    color:#212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}
.description{
    flex:1 1;
    margin-right:15px;
    text-align:right;
}

.min-max{
    color:#000000;
}

.daily-details-grid{
    display: grid;
    color:#ffffff;
    row-gap: 0;
    column-gap: 15px;
    grid-template-columns: auto auto;
    padding:5px 15px;
}

.daily-details-grid-item{
    display: flex;
    height:30px;
    justify-content: space-between;
    align-items: center;
}